/* BASE STYLES */

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #fbfbfb;
  color: #050517;
  font: 1.6rem/1.4 'Inter', 'Roboto', sans-serif;
  margin: 0;
}

/**
 * Variable font for smaller font file size.
 */

@supports (font-variation-settings: normal) {
  body {
    font-family: 'Inter var', 'Roboto', sans-serif;
  }
}


/* COMMON STYLES */

a {
  color: #286084;
  text-decoration: none;
  transition: color ease 0.3s;
}

a:hover {
  color: #7495ab;
}


/* MODULES */

/** Sections */

.section {
  padding: 8rem 0;
}

.section__inner {
  margin: auto;
  max-width: 110rem;
}

.section__title,
.section__subtitle,
.section__description {
  text-align: center;
}


.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


/**
 * Masthead
 *
 * 1. Limit max height, because on really large displays the whole masthead
 * looks awkward.
 */

.masthead {
  align-items: center;
  background: #cf5c36;
  background:
    linear-gradient(178deg, transparent 92.5%, #fbfbfb calc(92.5% + 1px)),
    linear-gradient(
      70deg,
      transparent 60%,
      rgba(0, 0, 0, 0.1) calc(60% + 1px)
    ),
    linear-gradient(
      15deg,
      transparent 60%,
      rgba(0, 0, 0, 0.05) calc(60% + 1px)
    ),
    linear-gradient(86deg, #bd5432, #d36a48);
  color: #fefcf8;
  display: flex;
  height: 100vh;
  max-height: 108rem;
}

.masthead__inner {
  font-size: 2rem;
  margin: auto;
  max-width: 55rem;
  padding: 1em;
  width: 100%;
}

@media screen and (min-width: 1440px) {
  .masthead__inner {
    font-size: 2.8rem;
  }
}

.masthead__title,
.masthead__subtitle {
  margin-bottom: 0;
  margin-top: 0;
}

.masthead__title {
  font-size: 2.8em;
  font-weight: 300;
  line-height: 1;
}


/** Portfolio */

.portfolio {
  padding: 2rem 0;
}

.portfolio__header {
  margin-bottom: 4rem;
}
.portfolio__header::after {
  background: #cf5c36;
  content: '';
  display: block;
  height: 0.2rem;
  margin: auto;
  width: 20rem;
}


/**
 * Gallery
 *
 * 1. Remove default list styles.
 */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none; /* 1 */
  margin: 0; /* 1 */
  padding: 0 1.5rem; /* 1 */
}

.gallery__item {
  background: #fff;
  border: 0.1rem solid #d3d5d7;
  border-radius: 0.4rem;
  flex: 1 1 30rem;
  max-width: 30rem;
  text-align: center;
  transition: box-shadow ease 0.2s;
}

.gallery__item:hover {
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
}

@supports (display: grid) {
  .gallery {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }

  .gallery__item {
    max-width: unset;
  }
}

.gallery__item-title {
  margin: 0;
  padding: 1em 0;
}

.gallery__thumbnail {
  display: block;
  width: 100%;
}


/** About */

.about {
  background: #efeff0;
  font-size: 1.8rem;
  line-height: 1.6;
}

.about__inner {
  padding: 0 1.5rem;
}

.about__title {
  font-size: 2.4em;
  font-weight: 300;
  margin-top: 0;
}

/**
 * Decorative bar after the title.
 *
 * 1. Set width to be about the same as the title text.
 * 2. Roughly 3 pixels.
 */

.about__title::after {
  background: #d36a48;
  content: '';
  display: block;
  height: 0.0695em; /* 2 */
  margin: auto;
  width: 4.63em; /* 1 */
}

.about__prose {
  text-align: justify;
}


/** Fancy Background */

.fancy-background {
  background: #cf5c36;
  background:
    linear-gradient(
      50deg,
      transparent 40%,
      rgba(0, 0, 0, 0.1)
      calc(35% + 1px),
      transparent
    ),
    linear-gradient(#d36a48, #bd5432);
}


/** Contact */

.contact {
  color: #fefcf8;
  font-size: 1.4rem;
}

/**
 * 1. Offset every top/bottommost contact items' vertical margin.
 * 2. Remove default list styles.
 */

.contact__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: space-evenly;
  list-style: none; /* 2 */
  margin: -2rem 0; /* 1, 2 */
  padding: 0; /* 2 */
}

/**
 * 1. Vertical spacing between each item when stacked.
 */

.contact__item {
  flex-basis: 22rem;
  margin: 2rem 0; /* 1 */
}

/**
 * 1. Position icon on top of link text.
 * 2. Increased font weight for better legibility against red background.
 */

.contact__link {
  align-items: center; /* 1 */
  color: inherit;
  display: flex; /* 1 */
  flex-direction: column; /* 1 */
  font-weight: 500; /* 2 */
}

/**
 * 1. Override default link hover colors.
 */

.contact__link:hover {
  color: inherit; /* 1 */
}


/**
 * Page footer
 *
 * 1. Prevent <p>'s margin bleeding out of footer.
 */

.page-footer {
  background: rgba(0, 0, 0, 0.5);
  color: #faf0ec;
  display: flex; /* 1 */
  justify-content: center;
}
