/* BASE STYLES */

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #fbfbfb;
  color: #050517;
  font: 1.6rem/1.4 'Inter', 'Roboto', sans-serif;
  margin: 0;
}


/* COMMON STYLES */

a {
  text-decoration: none;
}


/* MODULES */

/** Primary Nav */

.primary-nav {
  background: #cf5c36;
  color: #f4e3b2;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}

/* 1. Remove default list styles. */

.primary-nav__links {
  display: flex;
  list-style: none; /* 1 */
  margin: 0; /* 1 */
  padding: 0; /* 1 */
}

.primary-nav__link {
  color: inherit;
  display: inline-block;
  padding: 1em;
  transition: all ease 0.3s;
  transition-property: background, color;
}

.primary-nav__link:hover {
  background: #f4e3b2;
  color: #cf5c36;
}


/** Masthead */

.masthead {
  align-items: center;
  background: #cf5c36;
  background:
    linear-gradient(176deg, transparent 80%, #fbfbfb calc(80% + 1px)),
    linear-gradient(
      70deg,
      transparent 60%,
      rgba(0, 0, 0, 0.1) calc(60% + 1px)
    ),
    linear-gradient(
      15deg,
      transparent 60%,
      rgba(0, 0, 0, 0.05) calc(60% + 1px)
    ),
    linear-gradient(86deg, #bd5432, #d36a48);
  color: #fefcf8;
  display: flex;
  height: 100vh;
}

.masthead__inner {
  font-size: 2rem;
  margin: auto;
  max-width: 55rem;
  padding: 1em;
  width: 100%;
}

.masthead__title,
.masthead__subtitle {
  margin-bottom: 0;
  margin-top: 0;
}

.masthead__title {
  font-size: 2.8em;
  font-weight: 300;
  line-height: 1;
}
